.root{
    -fx-background-image: url("imagenes/background5.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-height: 100%;
}

.button{
    -fx-background-color: transparent;
}
.button:hover{
    -fx-cursor: hand;
    -fx-background-color: #3e8e4b7a;
    -fx-box-shadow-offset-y:5px;
    -fx-box-shadow-color: #666;
}
.scroll-pane{
    -fx-background-color: transparent;
}
#contenedor-de-bloques{
    -fx-background-image: url("imagenes/background4.png");
    -fx-padding: 23px;
}
#boton-vaciar:hover{
    -fx-background-color: #ad20207a;
}
#boton-bloque-personalizado{
    -fx-image-background: url("imagenes/bloque_grande.png");
    -fx-height: 60%;
    -fx-width: 60%;
}